<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Devices</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Devices</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      
      <!-- /.row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Devices</h3>

              
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-bordered">
                <tr>
                  <th>No.</th>
                  <th>IP</th>
                  <th>POST</th>
                  <th>Serial Number</th>
                </tr>
                <tr *ngFor="let device of devices">
                  <td>1</td>
                  <td>{{device.ip}}</td>
                  <td>{{device.port}}</td>
                  <td>{{device.serial_number}}</td>
                </tr>
              </table>
            </div>
            <div class="card">
              <div class="card-body">
                
                <button class="btn btn-md btn-success btn-250" (click)=getData()>
                  <div [ngClass]="{'loader': true, 'is-hidden': isLoaderHidden}" ></div>
                  <span [ngClass] = "{'is-hidden': !isLoaderHidden}" [innerHTML]="buttonInnerContent"></span>
                </button>
              </div>
            </div>
            <!-- /.card-body -->
          </div>

          <div class="card">
            <div class="card-body">
              <form class="">

                <div class="form-group">
                  <div>IP:</div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-laptop"></i></span>
                    </div>
                    <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask>
                  </div>
                  <!-- /.input group -->
                </div>
                  
                <div class="form-group">
                  <div>PORT:</div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-laptop"></i></span>
                    </div>
                    <input type="text" class="form-control" data-inputmask="'alias': 'digit'" data-mask>
                  </div>
                  <!-- /.input group -->
                </div>
              </form>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->